<br><br>
<div class="container">
  <div class="row">
    <div class="offset-md-3 col-md-6 col-12 text-center">

      <!-- Icon section -->
      <div>
        <i class="fa fa-exclamation-circle" style="font-size: 80px; color: #F44336"></i>
      </div>

      <!-- Text section -->
      <div class="l1" style="margin-top: 10px;">Error</div>
      <p class="s1">
        We cannot find the page you were looking for . . .<br>
        Maybe you were looking for one of these?
      </p>

      <!-- Table Section -->
      <table class="table table-striped table-hover">
        <tr>
          <td><a href="https://learnspace.co.nz/app/find-tutor/English" class="s3Blue">Find English Tutors</a> </td>
          <td><a href="https://learnspace.co.nz/app/find-tutor/Maths" class="s3Blue">Find Maths Tutors</a></td>
        </tr>
        <tr>
          <td><a href="https://learnspace.co.nz/app/find-tutor/Physics" class="s3Blue">Find Physics Tutors</a></td>
          <td><a href="https://learnspace.co.nz/app/find-tutor/Chemistry" class="s3Blue">Find Chemistry Tutors</a></td>
        </tr>
        <tr>
          <td><a href="https://learnspace.co.nz/app/find-tutor/Biology" class="s3Blue">Find Biology Tutors</a></td>
          <td><a href="https://learnspace.co.nz/app/dashboard/home" class="s3Blue">My Dashboard</a></td>
        </tr>
        <tr>
          <td><a href="https://learnspace.co.nz/index" class="s3Blue">Home page</a></td>
          <td><a href="https://learnspace.co.nz/work" class="s3Blue">Apply to Teach</a></td>
        </tr>
        <tr>
          <td><a href="https://learnspace.co.nz/app/help/home" class="s3Blue">Learnspace Help</a></td>
          <td><a href="https://learnspace.co.nz/app/community/posts" class="s3Blue">Community</a></td>
        </tr>
      </table>

      <!--End of Table Section -->
    </div> <!--  End of Row -->

  </div>
</div>
