<div class="container">
    <div *ngIf="loading" >
        <div class="loader"></div>
     </div>
  <div *ngIf="!loading" class="row">
     <div  class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
      <div class='card'>
        <div class='card-head'>
          <h2>Lesson option</h2>
        </div>
        <div class='card-body '>
            <div class='row'>
                <img src={{tutorPhoto}} class="round standard rounded-circle" width="100" height="100">
                <label class='label'>Tutor</label>
            </div>          
          <div class='row'>
            <div class="CustomSelect--full-width col-12 col-md-6">
              <label class='label-select'>Location</label>
              <select class="custom-select form-control" (change)='setInfo(1)'>
                <option *ngFor='let location of locations; let i = index' [selected]="i==0" value='{{location}}'>{{location}}</option>
              </select>
            </div>
            <div class="CustomSelect--full-width  col-12 col-md-3">
              <label class='label-select'>Subject</label>

              <select class="custom-select form-control" (change)='setInfo(2)'>
                <option *ngFor='let subject of subjects; let i = index' [selected]="i==0" value='{{subject}}'>{{subject}}</option>
              </select>
            </div>
            <div class="CustomSelect--full-width  col-12 col-md-3">
              <label class='label-select'>Curriculum</label>
              <select class="custom-select form-control" (change)='setInfo(3)'>
                <option *ngFor='let curriculum of curriculums; let i = index' [selected]="i==0" value='{{curriculum}}'>{{curriculum}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
      <p *ngIf='showWarningMes' style="font-size: 14px; color: red;">Single lesson should be longer than 30 minutes...</p>
      <p *ngIf='eightLimitMes' style="font-size: 14px; color: red;">You can only choose 8 sessions every time...</p>
      <div id='calendar-card' class="card">
        <div class="card-body">
          <div id="calendar"></div>
        </div>
      </div>
      <span *ngIf="!indicator" style="position: absolute; font-size:21px; color:#525252; top:128px;">
        <i class="fa fa-spinner fa-spin"></i> Loading...</span>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-xl-4 col-lg-4 ">
      <div style="top:20px; z-index:0;" class="card sticky-top">

        <div class="card-header m2">
          <h2>Confirm</h2>
          <h3 style="font-size: 20px;" class="clearfix">
            <p class="float-left pb-0 mb-0" style='display: none'><i class="fa fa-book" style="position: relative; right:5px"></i>
              Lesson</p>
            <p class="float-right pb-0 mb-0">Price</p>
          </h3>
        </div>

        <!-- <i style="font-size: 25px;" class="fa fa-cart-plus"></i>&nbsp;&nbsp;Confirm your lesson</div> -->
        <div class="card-body p-0" style="font-size: 20px;display: none">
          <div *ngFor="let session of sessions" class="s2 m-2 p-1 bg-light">
            <div class="clearfix">
              <div class="float-left" style="width: 80%">
                <i style="color:red;" class="fa fa-remove" (click)="deleLesson(session.s_date,session.s_duration)"></i>&nbsp;&nbsp;
                <span>{{session.s_date | date:'MMM/dd y, hh:mma'}}</span>&nbsp;
                <span>{{session.s_duration}}-hour</span>
                <select style="border-radius: 0px;" (change)="change({date:session.s_date, item:session.s_subject})">
                  <option disabled>{{session.s_subject}}</option>
                  <option *ngFor='let subject of subjects' [ngValue]="subject">{{subject}}</option>
                </select>
                <select style="border-radius: 0px;" (change)="change({date:session.s_date, item:session.s_curriculum})">
                  <option disabled>{{session.s_curriculum}}</option>
                  <option *ngFor='let curriculum of curriculums' [ngValue]="curriculum">{{curriculum}}</option>
                </select>
                <select style="width:125px" (change)="change({date:session.s_date, item:session.s_location})">
                  <option disabled>{{session.s_location | slice:0:13}}</option>
                  <option *ngFor='let location of locations' [ngValue]="location">{{location}}</option>
                </select>
              </div>

              <div class="float-right">
                <span *ngIf="session.s_duration>=2">${{session.s_duration*tutorPrice[0]}}
                </span>
                <span *ngIf="session.s_duration<2">${{session.s_duration*tutorPrice[0]}}</span>
              </div>

              <span *ngIf="session.s_duration>=2" style="position: relative; top:4px; float: right;font-size: 12px; font-style: italic; color:#6ccc84;">saved
                ${{session.s_duration*(tutorPrice[0]-tutorPrice[0])}}</span>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="clearfix">
            <div class="float-left">
              {{sessions.length}}
              <span class="s2"> lessons selected</span>
            </div>
            <div class="float-right" style="display:none">
              <span *ngIf="savedBillNum>0" style="font-size: 12px; font-style: italic; color:#6ccc84;">saved
                ${{savedBillNum}}!</span>
              Total:&nbsp;${{billNum}}
            </div>
          </div>

          <p *ngIf='feedback' style="font-size: 14px; color: red;">&nbsp;&nbsp;{{feedback}}</p>
          <button (click)="confirm()" class="btn btn-primary btn-block mt-1" style="background-color:#0099FF;font-weight: bold;">Confirm</button>
        </div>
      </div>
    </div>
  </div>
</div>
