card{
    border: 1px solid lightgrey;
}
.card-header{
    padding: 0.2rem 1.25rem;
    border-bottom: 1px solid rgb(200, 200, 201);
}
.timetip{
    padding-top: 8px;
}
.gaps{
    margin-top: 20px;
}
select{
    max-width: 100%;
}

.dialogCalender {
    height: 80% !important;
}
