<div class="jumbotron">
  <div class="container">
    <div class="j1">About Us</div>
  </div>
</div>

<br>

<div class="container">
  <div class="sec1">
    <div class="m1">Our Vision</div>
    <div style="margin-top:8px;" class="s2">Learnspace's vision is to provide world quality personalised education at a affordable price.</div>
  </div>
  <br>

  <div class="sec1">
    <div class="m1">Our Mission</div>
    <div style="margin-top:8px;" class="s2">Learnspace is here to froster a culture, where the divide between learning and teaching roles is no longer predetermined by age, 
      experience and qualifications. If anyone can learn anything anywhere anytime, couldn’t a learner be a teacher too? After all, when one teaches, 
      two learn. Learnspace’s tutors are mainly university students, with excellent academic records in their secondary or tertiary studies. 
    </div>
  </div>
  <br>

  <div class="sec1">
    <div class="m1">Our Platform</div>
    <div style="margin-top:8px;" class="s2">
      Learnspace is an online platform provides tutoring service to secondary school students in New Zealand. 
      Providing affordable quality personalised education is our primary goal. And we truely believe we are right at the start of an age, 
      where the traditional schooling is under transformation. With technological advancement, especially the fast maturing technology of Artificial Intelligence, 
      today’s youth can gain access to almost any knowledge that we desire to learn, at a pace faster than ever before, 
      what then is the value of education through out the education “system”?
    </div>
  </div>
  <br>

  <div class="sec1">
    <div class="m1">Our History</div>
    <div style="margin-top:8px;" class="s2">
      Learnspace was started in 2015 by Victoria University graduates. <br>
      We started our tutoring service in Wellington that same year, and has achieved over 95% customer satisfaction over the years. <br>

    </div>
  </div>
  <br>

  <div class="sec1">
    <div class="m1">Personalised Education</div>
    <div style="margin-top:8px;" class="s2">
      Learnspace focus on one on one, personalised education. <br>
      All our lessons are designed to be as flexiable and personalised as possible. 
      We see each learner as individuals, and every lesson are designed specifically to the requirements and needs of that learner.
    </div>
  </div>
  <br>

</div>
<br>