.jumbotron{
    height:140px;
    background-color:#0099FF ;
    z-index: 1;
    background-position: center ;
    background-repeat: no-repeat;
    background-size: 100%;
    margin:0px;
    padding-top:40px;
    
}


@media (max-width: 768px) { 
    .jumbotron{
        padding-top:0px;
    }
}