<!-- <nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link notiTab" (click)="showSystem()" [ngClass]="{'active': systemTab && !sessionTab && !replyTab && !announcementTab}">System
      <span class="badge badge-success rounded-circle">{{systemNotisNum}}</span>
    </a>
    <a class="nav-item nav-link notiTab" (click)="showSession()" [ngClass]="{'active': !systemTab && sessionTab && !replyTab && !announcementTab}">Session
      <span class="badge badge-success rounded-circle">{{sessionNotisNum}}</span>
    </a>
    <a class="nav-item nav-link notiTab" (click)="showReply()" [ngClass]="{'active': !systemTab && !sessionTab && replyTab && !announcementTab}">Reply
      <span class="badge badge-success rounded-circle">{{replyNotisNum}}</span>
    </a>
    <a class="nav-item nav-link notiTab" (click)="showAnnouncement()" [ngClass]="{'active': !systemTab && !sessionTab && !replyTab && announcementTab}">Announcement
      <span class="badge badge-success rounded-circle">{{announceNotisNum}}</span>
    </a>
  </div>
</nav> -->


<!-- <div *ngIf="systemTab; then system"></div>
<div *ngIf="sessionTab; then session"></div>
<div *ngIf="replyTab; then reply"></div>
<div *ngIf="announcementTab; then announcement"></div> -->

<!-- <div *ngIf="systemNotis==''" class='notiData'>
  <div class='container'>
    There is no new notification.
  </div>
</div> -->

<div class='container'>
  <!-- <div class='row'>
    <div *ngFor='let noti of systemNotis; let i = index' class='card' style='width:100%' (click)="read(i,noti.notification_type)">
      <div class='card-body'>
        <strong class='notiTitle'> {{noti.title}} </strong>
        <small class='notiDate' style='color:lightgray'> &nbsp;&nbsp;{{noti.date}}</small>
        <div *ngIf="noti.read_status == 'unread'" class='float-right'>
          <i class="fas fa-envelope"></i>
        </div>
        <div *ngIf="noti.read_status == 'read'" class='float-right'>
          <i class="far fa-envelope-open"></i>
        </div>
        <div class='notiData'>&nbsp;&nbsp;&nbsp;&nbsp;{{noti.message}}</div>
        <small class='notiAuthor' style='color:gray'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{noti.message_author}}</small>
      </div>
    </div>

  </div> -->

<div class="row">
  <div class="col-6">
  <h5>Notifications</h5>
</div>
<div class="col-6 text-right">
  <a href='/app/notifications' router-Link='/app/notifications'> view all </a>
</div>
</div>
  <div class='container'>
    <div class='row'>
      <div *ngFor='let noti of notifications; let i = index' class='card' style='width:100%'>
        <div class='card-body'>
          <div class='row'>
            <!-- <div class='col-12 card-title'>
              <div *ngIf="noti.status == 'unread'" class='float-right'>
                <i class="fas fa-envelope fa-2x"></i>
              </div>
              <div *ngIf="noti.status == 'read'" class='float-right'>
                <i class="far fa-envelope-open fa-lg"></i>
              </div>
            </div> -->
            <div class='col-3'>
              image
            </div>
            <div class='col-9'>
              <div class='row'>
                <div class='col-12'>
                  &nbsp;&nbsp;&nbsp;&nbsp;{{noti.message}}
                </div>
                <div class='col-12'>
                  <small style='color:gray'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{noti.message_author}}</small>
                  <small style='color:lightgray'> &nbsp;&nbsp;{{noti.created_time}}</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
