#a-btn{
    color:rgb(0, 132, 255);
    cursor: pointer;
  }
  #f-btn{
    width:75px; 
    margin-top:10px;
    /* margin-left:10px; */
  }
  #f-btn-right {
    width:75px; 
    float: right;
    margin-top:10px;
  }
  form {
    padding:20px;
    background-color: rgb(250, 250, 250);
    border-radius: 10px;
  }
  form input{
    position: relative;
    left:10px;
  }
  .indicator{
    color: rgb(192, 7, 7); 
    font-size: 15px;
  }