<div *ngIf="onwhichpage=='home';then homepage; else dashboard"></div>

<ng-template #homepage>
  <nav id="top-navbar" class="navbar navbar-expand-md home" [ngClass]="(screenStatus && (navStatus || collapseStatus) ) || (!screenStatus && navStatus)?'backgColor1 borderColor1':'backgColor2 borderColor2'">
    <a class="navbar-brand" href="index">
      <img src="../../../../assets/logo/learnspace_logo_transparent.png" alt="user" style="height: 30px;">
    </a>
    <button class="navbar-toggler home" type="button" (click)="collapseShow()" data-toggle="collapse" data-target="#navbar-primary"
      aria-controls="navbar-primary" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon home"></span>
    </button>

    <div class="collapse navbar-collapse home" id="navbar-primary">
      <ul class="navbar-nav mr-auto home">
        <li class="nav-item home">
          <a class="nav-link navLink home" href="https://learnspace.co.nz/app/find-tutor-wellington" routerLink="/app/find-tutor" [ngClass]="(screenStatus && (navStatus || collapseStatus) ) || (!screenStatus && navStatus)? 'fontColor1':'fontColor2'">Find a Teacher
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle navLink community" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false" [ngClass]="(screenStatus && (navStatus || collapseStatus) ) || (!screenStatus && navStatus)? 'fontColor1':'fontColor2'"
            style="background-color:transparent;">Community
            <span class="sr-only">(current)</span>
          </a>
          <ul class="dropdown-menu dropdown-menu-user" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item fontColor3 articleIcon dpitem" style="padding-left:30px;" routerLink="/app/community/posts" href="https://learnspace.co.nz/app/community/posts">Articles</a>
            </li>
            <!-- <li *ngIf="rolePosition == 3"><a class="dropdown-item fontColor3 editIcon" style="padding-left:30px;" routerLink="/app/community/newpost" href="https://learnspace.co.nz/app/community/newpost">Add an article</a></li> -->
            <li>
              <a class="dropdown-item fontColor3 discussionIcon" style="padding-left:30px;" routerLink="/app/community/discussions" href="https://learnspace.co.nz/app/community/discussions">Discussions</a>
            </li>
            <!-- <li><a class="dropdown-item fontColor3 discussionIcon" style="padding-left:30px;" routerLink="/app/community/newdiscussions" href="https://learnspace.co.nz/app/community/newdiscussions">Ask a question</a></li> -->
          </ul>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto home">
        <li *ngIf="!loggedIn" class="nav-item home">
          <a class="nav-link navLink navRight pointer home" (click)="loginUser($event)" [ngStyle]="{'color': (screenStatus && (navStatus || collapseStatus) ) || (!screenStatus && navStatus)? '#0099FF' : 'white'}">Login</a>
        </li>
        <li *ngIf="!loggedIn" class="nav-item home">
          <a class="nav-link navLink navRight pointer home" (click)="newUser($event)" [ngStyle]="{'color': (screenStatus && (navStatus || collapseStatus) ) || (!screenStatus && navStatus)? '#0099FF' : 'white'}">Register</a>
        </li>
        <li *ngIf="!loggedIn" class="nav-item home">
          <a class="nav-link navLink navRight home" href="https://learnspace.co.nz/app/work" routerLink="/work" [ngClass]="(screenStatus && (navStatus || collapseStatus) ) || (!screenStatus && navStatus)?'fontColor1':'fontColor2'">Apply to teach</a>
        </li>

        <li *ngIf="loggedIn" class="nav-item home">
          <a class="nav-link navLink navRight home" href="javascript:void(0)" role="button" data-toggle='popover' [ngClass]="(screenStatus && (navStatus || collapseStatus) ) || (!screenStatus && navStatus)?'fontColor1':'fontColor2'"
          (click)='viewNotifications($event)'>
            <i class="far fa-bell fa-lg"></i>
          </a>
        </li>

        <li *ngIf="loggedIn && loggedInUserName" class="nav-item dropdown home">
          <a style="background-color:transparent;" class="nav-link dropdown-toggle navLink home" href="#" id="navbarDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" [ngClass]="(screenStatus && (navStatus || collapseStatus) ) || (!screenStatus && navStatus)?'fontColor1':'fontColor2'">
            <img src={{userImg}} alt='user' class="rounded-circle" width="23px"> {{loggedInUserName}}
          </a>

          <ul class="dropdown-menu dropdown-menu-user dropdown-menu-right home" aria-labelledby="navbarDropdown" [ngClass]="screenStatus? 'backgColor2':'backgColor1'">
            <li>
              <a class="dropdown-item fontColor3 homeIcon dpitem home" style="padding-left:30px;" routerLink="/app/dashboard/home" href="https://learnspace.co.nz/app/dashboard/home">Dashboard</a>
            </li>
            <li *ngIf="rolePosition == 1">
              <a class="dropdown-item fontColor3 teachingIcon home" style="padding-left:30px;" routerLink="/app/apply/teach" href="https://learnspace.co.nz/app/apply/teach">Apply to teach</a>
            </li>
            <li>
              <a class="dropdown-item fontColor3 settingIcon home" style="padding-left:30px;" routerLink="/app/user/details" href="https://learnspace.co.nz/app/user/details">General details</a>
            </li>
            <!-- <li><a class="dropdown-item fontColor3 transactionIcon" style="padding-left:30px" routerLink="/app/transaction" href="https://learnspace.co.nz/app/transaction">My transactions</a></li> -->
            <li>
              <a class="dropdown-item fontColor3 passdIcon home" style="padding-left:30px;" routerLink="/app/user/password" href="https://learnspace.co.nz/app/user/password">Change password</a>
            </li>
            <li>
              <a class="dropdown-item fontColor3 paymentIcon" style="padding-left:30px;" routerLink="/app/user/payment-info" href="https://learnspace.co.nz/app/user/payment-info">Payment info</a>
            </li>
            <li>
              <a class="dropdown-item fontColor3 transactionIcon" style="padding-left:30px;" routerLink="/app/transaction" href="https://learnspace.co.nz/app/transaction"
                *ngIf='showTrasBtn'>Transactions</a>
            </li>
            <div class="dropdown-divider home"></div>
            <li>
              <a class="dropdown-item fontColor3 logoutIcon dpitem home" style="padding-left:30px;" (click)="onLogoutClick()">Logout</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</ng-template>

<ng-template #dashboard>
  <nav id="top-navbar" class="navbar navbar-expand-md dashboard">
    <a class="navbar-brand" href="index">
      <img src="../../../../assets/logo/learnspace_logo_white.bmp" alt="nz tutor" style="height: 30px;">
    </a>
    <button class="navbar-toggler dashboard" type="button" (click)="collapseShow()" data-toggle="collapse" data-target="#navbar-primary"
      aria-controls="navbar-primary" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon dashboard"></span>
    </button>

    <div class="collapse navbar-collapse dashboard" id="navbar-primary">
      <ul class="navbar-nav mr-auto dashboard">
        <li class="nav-item dashboard">
          <a class="nav-link navLink dashboard" href="https://learnspace.co.nz/app/find-tutor-wellington" routerLink="/app/find-tutor">Find a Teacher
            <span class="sr-only dashboard">(current)</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link navLink dashboard dropdown-toggle community" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false" style="background-color:transparent;">Community
            <span class="sr-only">(current)</span>
          </a>
          <ul class="dropdown-menu dropdown-menu-user" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item fontColor3 articleIcon dpitem" style="padding-left:30px;" routerLink="/app/community/posts" href="https://learnspace.co.nz/app/community/posts">Articles</a>
            </li>
            <!-- <li *ngIf="rolePosition == 3"><a class="dropdown-item fontColor3 editIcon" style="padding-left:30px;" routerLink="/app/community/newpost" href="https://learnspace.co.nz/app/community/newpost">Add an article</a></li> -->
            <li>
              <a class="dropdown-item fontColor3 discussionIcon" style="padding-left:30px;" routerLink="/app/community/discussions" href="https://learnspace.co.nz/app/community/discussions">Discussions</a>
            </li>
            <!-- <li><a class="dropdown-item fontColor3 discussionIcon" style="padding-left:30px;" routerLink="/app/community/newdiscussions" href="https://learnspace.co.nz/app/community/newdiscussions">Ask a question</a></li> -->
          </ul>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto dashboard">
        <li *ngIf="!loggedIn" class="nav-item dashboard">
          <a class="nav-link navLink navRight pointer dashboard" (click)="loginUser($event)">Login</a>
        </li>
        <li *ngIf="!loggedIn" class="nav-item dashboard">
          <a class="nav-link navLink navRight pointer dashboard" (click)="newUser($event)">Register</a>
        </li>
        <li *ngIf="!loggedIn" class="nav-item dashboard">
          <a class="nav-link navLink navRight dashboard" href="https://learnspace.co.nz/app/work" routerLink="/work">Apply to teach</a>
        </li>

        <!-- <li *ngIf="loggedIn" class="nav-item home">
          <a class="nav-link navLink navRight home" href="https://learnspace.co.nz/app/notifications" routerLink="/app/notifications">
            <i class="far fa-bell fa-lg"></i>
          </a>
        </li> -->

        <li *ngIf="loggedIn" class="nav-item home">
          <a class="nav-link navLink navRight home" href="javascript:void(0)" role="button" data-toggle='popover' (click)='viewNotifications($event)'>
            <i class="far fa-bell fa-lg"></i>
          </a>
        </li>

        <li *ngIf="loggedIn && loggedInUserName" class="nav-item dropdown dashboard">
          <a style="background-color:transparent;" class="nav-link dropdown-toggle navLink dashboard" href="#" id="navbarDropdown"
            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <!-- <i style="font-size:23px;" class="fa fa-user-circle"></i> &nbsp;{{loggedInUserName}} -->
            <img src={{userImg}} alt='user' class="rounded-circle" width="23px"> {{loggedInUserName}}
          </a>

          <ul class="dropdown-menu dropdown-menu-user dropdown-menu-right dashboard" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item fontColor3 homeIcon dpitem dashboard" style="padding-left:30px;" routerLink="/app/dashboard/home"
                href="https://learnspace.co.nz/app/dashboard/home">Dashboard</a>
            </li>
            <li *ngIf="rolePosition == 1">
              <a class="dropdown-item fontColor3 teachingIcon dashboard" style="padding-left:30px;" routerLink="/app/apply/teach" href="https://learnspace.co.nz/app/apply/teach">Apply to teach</a>
            </li>
            <li>
              <a class="dropdown-item fontColor3 settingIcon dashboard" style="padding-left:30px;" routerLink="/app/user/details" href="https://learnspace.co.nz/app/user/details">General details</a>
            </li>
            <!-- <li><a class="dropdown-item fontColor3 transactionIcon" style="padding-left:30px" routerLink="/app/transaction" href="https://learnspace.co.nz/app/transaction">My transactions</a></li> -->
            <li>
              <a class="dropdown-item fontColor3 passdIcon dashboard" style="padding-left:30px;" routerLink="/app/user/password" href="https://learnspace.co.nz/app/user/password">Change password</a>
            </li>
            <li>
              <a class="dropdown-item fontColor3 paymentIcon" style="padding-left:30px;" routerLink="/app/user/payment-info" href="https://learnspace.co.nz/app/user/payment-info">Payment info</a>
            </li>
            <li>
              <a class="dropdown-item fontColor3 transactionIcon" style="padding-left:30px;" routerLink="/app/transaction" href="https://learnspace.co.nz/app/transaction"
                *ngIf='showTrasBtn'>Transactions</a>
            </li>
            <div class="dropdown-divider dashboard"></div>
            <li>
              <a class="dropdown-item fontColor3 logoutIcon dpitem dashboard" style="padding-left:30px;" (click)="onLogoutClick()">Logout</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</ng-template>