<div class="container">

  <h3>Notifications</h3>
  <div class='container'>
    <div class='row'>
      <div *ngFor='let noti of notifications; let i = index' class='card' style='width:100%'>
        <div class='card-body'>
          <div class='row'>
            <!-- <div class='col-12 card-title'>
              <div *ngIf="noti.status == 'unread'" class='float-right'>
                <i class="fas fa-envelope fa-2x"></i>
              </div>
              <div *ngIf="noti.status == 'read'" class='float-right'>
                <i class="far fa-envelope-open fa-lg"></i>
              </div>
            </div> -->
            <div class='col-2'>
              image
            </div>
            <div class='col-10'>
              <div class='row'>
                <div class='col-12'>
                  &nbsp;&nbsp;&nbsp;&nbsp;{{noti.message}}
                </div>
                <div class='col-12'>
                  <small style='color:gray'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{noti.message_author}}</small>
                  <small style='color:lightgray'> &nbsp;&nbsp;{{noti.created_time}}</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>