<mat-dialog-content>
  <h2 md-dialog-title class="title"> Reset Password </h2>
  <div class="dialog-error" *ngIf="fillAll">
      {{fillAll}}
  </div>
  <div class="dialog-error" style="background-color:#23de8a" *ngIf="successMessage">
    {{successMessage}}
  </div>
  <form novalidate #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="form-group">
      <div *ngIf="firstName.errors?.required && firstName.touched" class="invalid_feedback">
      </div>
      <div *ngIf="firstName.errors?.minlength && firstName.touched" class="invalid_feedback">
        Must be at least 2 characters
      </div>
      <input type="text" class="form-control" placeholder="First Name" [(ngModel)]="user.first_name" name="first_name" #firstName="ngModel" minlength="2" required
        [ngClass]="{'is-invalid': firstName.errors?.required && firstName.touched || firstName.errors?.minlength}">
    </div>
    <div class="form-group">
      <div *ngIf="userEmail.errors?.required && userEmail.touched" class="invalid_feedback">
      </div>
      <div *ngIf="userEmail.errors?.pattern && userEmail.touched" class="invalid_feedback">
        Email is Invalid
      </div>
      <input type="text" class="form-control" placeholder="Email" [(ngModel)]="user.email" name="email" #userEmail="ngModel" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
        [ngClass]="{'is-invalid': userEmail.errors?.required && userEmail.touched || userEmail.errors?.pattern}" > 
    </div>
    <input type="submit" class="btn btn_blue_large  btn-block" value="Reset Password">
  </form>
</mat-dialog-content>