<mat-card class='col-xl-9 col-lg-10'>
  <!-- <mat-card-header>
    <img mat-card-avatar src="././assets/tutorpics/front3.jpg" style="background-size: cover" class="mr-2">
    <mat-card-title class="title-name">Rabbit</mat-card-title>
    <mat-card-subtitle class="">Rabbit</mat-card-subtitle>
  </mat-card-header> -->

  <mat-card-content>
    <div *ngIf="loading" >
        <div class="loader"></div>
     </div>
    <div *ngIf='buyerOrders == null&&!loading"; else orders'>
      <div>
        Sorry, there is no order found.
      </div>
    </div>
    <!-- <div class="text-right">
      <mat-form-field>
        <label class="s2">Order Time: </label><br>
        <mat-select [(value)]="order_time">
          <mat-option value="all">All time</mat-option>
          <mat-option value="month">One mouth</mat-option>
          <mat-option value="half-year">Half year</mat-option>
          <mat-option value="year">One year</mat-option>
        </mat-select>
      </mat-form-field>
    </div> -->
    <ng-template #orders>
      <mat-tab-group>
        <div *ngFor='let tab of tabs;'>
          <mat-tab [label]="tab.name">
            <div class="table-panel text-left mt-3 p-2">
              <!-- <table mat-table [dataSource]="all" class="mat-elevation-z8"> -->
              <!-- <ng-container matColumnDef="tutor">
              <th mat-header-cell *matHeaderCellDef> Tutor </th>
              <td mat-cell *matCellDef="let order"><a href="#"><img class="tutor-img" src="{{order.tutor_img}}"> {{order.tutor}}</a> </td>
            </ng-container>

            <ng-container matColumnDef="lessons">
              <th mat-header-cell *matHeaderCellDef> Lessons </th>
              <td mat-cell *matCellDef="let order"><span> {{order.class}} </span></td>
            </ng-container>

            <ng-container matColumnDef="amount">
              <th mat-header-cell *matHeaderCellDef> Amount </th>
              <td mat-cell *matCellDef="let order"> {{order.amount}} </td>
            </ng-container>

            <ng-container matColumnDef="price">
              <th mat-header-cell *matHeaderCellDef> Price </th>
              <td mat-cell *matCellDef="let order"> $ {{order.price.toFixed(1)}} </td>
            </ng-container>

            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef> Status </th>
              <td mat-cell *matCellDef="let order"> {{order.status}}<br><a href="javascript:void(0);" (click)="showDetail(order)">Details</a> </td>
            </ng-container>

            <ng-container matColumnDef="apply">
              <th mat-header-cell *matHeaderCellDef> Apply </th>
              <td mat-cell *matCellDef="let order">
                <button *ngIf="order.status == 'Paid'" class="btn btn-outline-danger"> Refund </button>
                <button *ngIf="order.status == 'Unpaid'" class="btn btn-outline-success"> Pay </button>
                <button *ngIf="order.status == 'Refund'" class="btn btn-danger disabled"> refunding </button>
              </td>
            </ng-container> -->
              <div *ngFor='let order of getFilterOrder(tab.filter);let idx=index;'>
                <div class="card" style="width: 100%;margin-top: 15px">
                  <div class="card-body">
                    <div class='row'>
                      <div class='col-xl-2 col-lg-3'>
                        <img class='tutorImg rounded-circle' style='height:90px;width:90px' src='{{order.tutor_img}}'>
                        <!-- <span class="border border-info rounded-circle">{{buyerOrders.tutor_img}}</span> -->
                      </div>
                      <div class='col-xl-10 col-lg-9'>
                        <div class='row'>
                          <div class='col-12 tutorName'>
                            <span><strong>{{order.tutor_name}}</strong></span>      
                            <span>
                                <button class="btn btn-outline-danger float-right" (click)='showDetail(order)'>Order detail</button>
                            </span>
                            <span>
                                <button class="btn btn-outline-danger float-right" (click)='goSchedule(idx)'>Schedule</button>
                            </span>
                          </div>
                          <div class='col-4'>
                            <div class='card' style='background-color:#f9f9f9'>
                              <div class='col-12'>
                                <strong>
                                  Course Name
                                </strong>
                              </div>
                              <div class='col-9'>
                                &nbsp;&nbsp;{{order.lesson_name}}
                              </div>
                            </div>
                          </div>
                          <div class='col-4'>
                            <div class='card' style='background-color:#f9f9f9'>
                              <div class='col-12'>
                                <strong>
                                  Order Status
                                </strong>
                              </div>
                              <div class='col-9'>
                                &nbsp;&nbsp;{{order.order_status}}
                              </div>
                            </div>
                          </div>
                          <div class='col-4'>
                            <div class='card' style='background-color:#f9f9f9'>
                              <div class='col-12'>
                                <strong>
                                  Remain
                                </strong>
                              </div>
                              <div class='col-9'>
                                &nbsp;&nbsp;{{order.order_remain}}
                              </div>
                            </div>
                          </div>
                          <!-- <div class='col-12'>
                            {{order.order_price}}
                          </div> -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              <!-- </table> -->
              <app-pagination [currentPage]="currentPage" [pageNumber]="pageNumber" [pages]="pages" [totalPosts]="totalPosts"
                [perPage]="perPage" (getthePage)="getPage($event)"></app-pagination>
            </div>
          </mat-tab>
        </div>
      </mat-tab-group>
    </ng-template>
  </mat-card-content>
</mat-card>
