

<header style="margin-bottom:0px;" class="jumbotron jumbotron-fluid">
<div class="container">
  <div style="margin-top:40px;" class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <div class="j1">Apply to Teach</div>
      <div class="wordsContent1" style="font-size: 20px; color:white;">
        Earn money through teaching your speciality subjects. </div>
      <br>
      <button (click)="newUser()" class="btn btn_blue_large">Apply Now</button>
    </div>
  </div>
</div>
</header>

<section id="mid-1" class="container-fluid">
<div class="row">
  <div class="col-md-6" id="left-content">
    <div class="container">
      <div class="carousel" id="demo" data-ride="carousel">
        <div class="carousel-inner col-md-12 col-lg-10">
          <div class="carousel-item active">
            <br/> Education is the most powerful weapon which you can use to change the world.
            <br>
            <br>
            <span>- Nelson Mandela </span>
            <br/>
            <br/>
          </div>
          <div class="carousel-item"> Democracy cannot succeed unless those who express their choice are prepared to choose wisely. The real safeguard
            of democracy, therefore, is education.
            <br>
            <br>
            <span>- Franklin D. Roosevelt</span>
          </div>
        </div>
        <ol class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1"></li>
        </ol>
      </div>
    </div>
  </div>
  <div class="col-md-6" id="right-content"></div>
</div>
</section>

<section id="mid2" class="container-fluid">
<div class="container" style="text-align:center;">
  <div class="m1">Why teach with us?
  </div>
  <div class="row">
    <div class="col-xs-12 col-xs-offset-0 col-sm-4 col-sm-offset-0 col-lg-4 whyObject">
      <i class="fa fa-clock-o" style="font-size:60px; color:#23DE8A;" aria-hidden="true"></i>
      <div class="m2">Teach Anytime</div>
      <div class="s2">Adjust your personal availability anytime on your calendar.</div>
    </div>

    <div class="col-xs-12 col-xs-offset-0 col-sm-4 col-sm-offset-0 col-lg-4 whyObject">
      <i class="fa fa-random" style="font-size:60px; color:#23DE8A;" aria-hidden="true"></i>
      <div class="m2">Flexibility</div>
      <div class="s2">Teach in any capacity: full-time, part-time, or just causally.</div>
    </div>

    <div class="col-xs-12 col-xs-offset-0 col-sm-4 col-sm-offset-0 col-lg-4 whyObject">
      <i class="fa fa-graduation-cap" style="font-size:60px; color:#23DE8A;" aria-hidden="true"></i>
      <div class="m2">Great Experiences</div>
      <div class="s2">Learn more through teaching the subjects that you love. </div>
    </div>

    <div class="col-xs-12 col-xs-offset-0 col-sm-4 col-sm-offset-0 col-lg-4 whyObject">
      <i class="fa fa-usd" style="font-size:60px; color:#23DE8A;" aria-hidden="true"></i>
      <div class="m2">Great Earnings</div>
      <div class="s2">Set your own hourly rates and pricing packages.</div>
    </div>

    <div class="col-xs-12 col-xs-offset-0 col-sm-4 col-sm-offset-0 col-lg-4 whyObject">
      <i class="fa fa-map-signs" style="font-size:60px; color:#23DE8A;" aria-hidden="true"></i>
      <div class="m2">Become a Mentor</div>
      <div class="s2">Your chance at helping and shaping the lives of your students.</div>
    </div>

    <div class="col-xs-12 col-xs-offset-0 col-sm-4 col-sm-offset-0 col-lg-4 whyObject">
      <i class="fa fa-users" style="font-size:60px; color:#23DE8A;" aria-hidden="true"></i>
      <div class="m2">Make Friends</div>
      <div class="s2">Connect with your students, build up your own network.</div>
    </div>

  </div>
  <br>
  <button (click)="newUser()" class="btn btn_blue_large">Apply Now</button>

  <br><br><br>
</div>
</section>

<app-footer></app-footer>
