<mat-dialog-content>
    <h2 md-dialog-title style="text-align:center;">Learnspace Tutors Agreement </h2>
    <hr>
    <!-- <div *ngIf="fillAll">
        <div class="error-feedback">{{fillAll}}</div>
        <hr>
    </div> -->
    <div style="text-align: justify;">
            Every website has to perform maintenance at some point or another.
            Whether it’s just to upgrade a portion of the site or because of
            some problem with the site, it’s an inevitable fact of website ownership.
            And in many cases, maintenance requires taking your site offline for at least a few minutes.

            Before we discuss about Angular CLI, let’s have a small discussion on CLI, CLI stands for Command Line Interface, and many other programming languages already have CLI available for different purpose.

For eg. Maven has command line tool to install packages and run different commands, npm already has different command line tools available and same goes to python.

If you notice one thing is common in above example, all technologies are open source, and they are available on any platform. and same goes to Angular, Angular is also platform independent, we can do angular development on any OS and deploy on any server.

CLIs gives you commands which we can execute from our machine and working directory to speed up our development, as we don’t have to rely on any specific IDE. And nowadays everyone has there on CLI available, if we talk about cloud development Azure, Google Cloud and AWS has there own CLI available as well.


Before we discuss about Angular CLI, let’s have a small discussion on CLI, CLI stands for Command Line Interface, and many other programming languages already have CLI available for different purpose.

For eg. Maven has command line tool to install packages and run different commands, npm already has different command line tools available and same goes to python.

If you notice one thing is common in above example, all technologies are open source, and they are available on any platform. and same goes to Angular, Angular is also platform independent, we can do angular development on any OS and deploy on any server.

CLIs gives you commands which we can execute from our machine and working directory to speed up our development, as we don’t have to rely on any specific IDE. And nowadays everyone has there on CLI available, if we talk about cloud development Azure, Google Cloud and AWS has there own CLI available as well.


Before we discuss about Angular CLI, let’s have a small discussion on CLI, CLI stands for Command Line Interface, and many other programming languages already have CLI available for different purpose.

For eg. Maven has command line tool to install packages and run different commands, npm already has different command line tools available and same goes to python.

If you notice one thing is common in above example, all technologies are open source, and they are available on any platform. and same goes to Angular, Angular is also platform independent, we can do angular development on any OS and deploy on any server.

CLIs gives you commands which we can execute from our machine and working directory to speed up our development, as we don’t have to rely on any specific IDE. And nowadays everyone has there on CLI available, if we talk about cloud development Azure, Google Cloud and AWS has there own CLI available as well.


Before we discuss about Angular CLI, let’s have a small discussion on CLI, CLI stands for Command Line Interface, and many other programming languages already have CLI available for different purpose.

For eg. Maven has command line tool to install packages and run different commands, npm already has different command line tools available and same goes to python.

If you notice one thing is common in above example, all technologies are open source, and they are available on any platform. and same goes to Angular, Angular is also platform independent, we can do angular development on any OS and deploy on any server.

CLIs gives you commands which we can execute from our machine and working directory to speed up our development, as we don’t have to rely on any specific IDE. And nowadays everyone has there on CLI available, if we talk about cloud development Azure, Google Cloud and AWS has there own CLI available as well.


Before we discuss about Angular CLI, let’s have a small discussion on CLI, CLI stands for Command Line Interface, and many other programming languages already have CLI available for different purpose.

For eg. Maven has command line tool to install packages and run different commands, npm already has different command line tools available and same goes to python.

If you notice one thing is common in above example, all technologies are open source, and they are available on any platform. and same goes to Angular, Angular is also platform independent, we can do angular development on any OS and deploy on any server.

CLIs gives you commands which we can execute from our machine and working directory to speed up our development, as we don’t have to rely on any specific IDE. And nowadays everyone has there on CLI available, if we talk about cloud development Azure, Google Cloud and AWS has there own CLI available as well.


Before we discuss about Angular CLI, let’s have a small discussion on CLI, CLI stands for Command Line Interface, and many other programming languages already have CLI available for different purpose.

For eg. Maven has command line tool to install packages and run different commands, npm already has different command line tools available and same goes to python.

If you notice one thing is common in above example, all technologies are open source, and they are available on any platform. and same goes to Angular, Angular is also platform independent, we can do angular development on any OS and deploy on any server.

CLIs gives you commands which we can execute from our machine and working directory to speed up our development, as we don’t have to rely on any specific IDE. And nowadays everyone has there on CLI available, if we talk about cloud development Azure, Google Cloud and AWS has there own CLI available as well.


Before we discuss about Angular CLI, let’s have a small discussion on CLI, CLI stands for Command Line Interface, and many other programming languages already have CLI available for different purpose.

For eg. Maven has command line tool to install packages and run different commands, npm already has different command line tools available and same goes to python.

If you notice one thing is common in above example, all technologies are open source, and they are available on any platform. and same goes to Angular, Angular is also platform independent, we can do angular development on any OS and deploy on any server.

CLIs gives you commands which we can execute from our machine and working directory to speed up our development, as we don’t have to rely on any specific IDE. And nowadays everyone has there on CLI available, if we talk about cloud development Azure, Google Cloud and AWS has there own CLI available as well.

    </div>

    <form novalidate #f="ngForm" (ngSubmit)="onSubmit()">

      <br>
      <input class="confirmAgreeMark"  style="width: 20px; height:20px;" type="checkbox">I have read and agree to all the terms stated in this agreement.
      <br><span class="errorMsg">Please read the agreement and tick here.</span><br>
      <input type="submit" class="btn btn-info btn-lg btn-block" value="I agree to be bond to all the terms in this agreement">
    </form>
    </mat-dialog-content>
