/* styles about flex display */
.flex {
  display: flex
}
.flex-direction-row {
  flex-direction: row
}
.flex-direction-column {
  flex-direction: column
}
.shadow {
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, .1);
  padding: 28px;
  background-color: #fff;
  border-radius: 8px;
}


/* styles about profile picture */
.verb-profile-pic.round {
  border-radius: 50%;
}
.verb-profile-pic.standard {
  height: 60px;
  width: 60px
}


/* styles about discussion */
.Discussion__title h1 {
  color: #4f5457;
  letter-spacing: 1.67px;
  font-size: 24px
}
.Discussion__content p{
  flex-wrap: wrap;
  word-wrap: break-word;
}
.HoverCardWrapper {
  position: relative;
  display: inline-block;
  color: #0699cd;
}
.project-subtitle {
  color: #4f5457;
  font-size: 20px;
}
.DiscussionTags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap
}
.DiscussionTags .DiscussionTag {
  margin-right: 4px;
  margin-bottom: 5px
}
.DiscussionTag {
  display: flex;
  flex-direction: row;
  background: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  padding: 6px 8px;
  font-size: 11.4px;
  color: #838789;
  letter-spacing: -.55px;
  font-weight: 700
}
.Discussion .Discussion__content {
  margin-top: 10px;
  flex: 1;
}


/* styles about UserPostComment */
#postCommCard{
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #F0F0F0;
  margin-top: 25px;
}
/* #commentBox{
  z-index: 1;
} */