<div *ngIf="display.innerWidth <= 576&&pageNumber>1">
    <mat-paginator class="col-12" [length]="totalPosts" [pageSize]="perPage" [showFirstLastButtons]=true [hidePageSize]=true
      (page)="changed($event)"></mat-paginator>
  </div>
  <div *ngIf="display.innerWidth > 576&&pageNumber>1">
    <!-- <div class="text-center">
      <span *ngFor="let page of pages; let i = index">
        <button type="submit" class="btn btn-default btn-sm" id="pageBtn" (click)="getPage(i+1)">{{page}}</button>
      </span>
    </div> -->
    <div class="container" style="background-color: white; padding-top: 0px;">
      <div class="col-12 text-center" style="margin-bottom: 7px">
        <button type="button" class="btn btn-link" (click)="goFirst()" id="prevBtn" [attr.disabled]="prevBtnDisable?'true':null">
          <!-- <i class="material-icons">
            first_page
          </i> -->
          <i class="fas fa-fast-backward"></i>

        </button>
        <button type="button" class="btn btn-link" (click)="goPrevious()" id="prevBtn" [attr.disabled]="prevBtnDisable?'true':null">
          <!-- <i class="material-icons ">
            chevron_left
          </i> -->
          <i class="fas fa-step-backward"></i>
        </button>
        <div class="btn-group mr-2" *ngFor="let page of pages; let i = index">
          <button class="btn rounded-circle" id="pageBtn" (click)="getPage(i+1)" [ngStyle]="pageActive[i+1] ? ({'color': '#007bff'}) : ({'color': 'gray'})">
            <strong>{{page}}</strong>
          </button>
        </div>
        <!-- <div *ngIf="tailBtnArray.length > 0; then hide"></div> -->
        <button type="button" class="btn btn-link" (click)="goNext()" id="nextBtn" [attr.disabled]="nextBtnDisable?'true':null">
          <!-- <i class="material-icons ">
            chevron_right
          </i> -->
          <i class="fas fa-step-forward"></i>
        </button>
        <button type="button" class="btn btn-link" (click)="goEnd()" id="nextBtn" [attr.disabled]="nextBtnDisable?'true':null">
          <!-- <i class="material-icons">last_page</i> -->
          <i class="fas fa-fast-forward"></i>
        </button>
      </div>
    </div>
  </div>