img{
    border:1px solid #dddddd;
  }

.file {
    position: relative;
    display: inline-block;
    background: #0099FF;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: white;
    text-decoration: none;
    text-indent: 0;
    line-height: 30px;
    margin-top: 10px;
  }

.file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
  }
