<mat-dialog-content>
  <div>
    <!--session rate-->
    <div *ngIf='order>0' class="card border-0">
      <div class="card-header bg-white text-center"><strong style="font-size: 20px">Cancel order</strong><i class="fa fa-close float-right"
          (click)="close()"></i></div>
      <div class="card-body ">
        <!--basic info-->
        <div class="row">
          <div class="col-2">
            <img class="rounded-circle" src="{{tutors.img}}" width="90%">
          </div>
          <div class="row col-4">
            <div class="col-12">
              {{tutors.name}}
            </div>
          </div>
          <div class="col-6">
            <div>
              <small>{{order.remain_quitity}}</small>
            </div>
            <div>
              <small>
                {{order.session_location}}
              </small>
              <div>
                If you cancel this order ,your lessons fee will be recalculate by flat rate, the refund is {{}}.  
              </div>
              <div>
                Do you want to continue?
              </div>

            </div>
          </div>
        </div>
        <hr>
        <button type="button" class="btn btn-danger mt-4" (click)="save()">Cancel Order</button>
      </div>
    </div>
  </div>
</mat-dialog-content>