
.warning{
  background-image: url("/../../assets/icons/redDangerIcon.png");
  background-position: left center;
  background-size: 6px;
  background-repeat: no-repeat;
  padding-left:12px;
}
button[aria-expanded=true] .fa-angle-down {
  /* button direction icon */
  display: none;
}
button[aria-expanded=false] .fa-angle-up {
  /* button direction icon */
  display: none;
}
.left-space{
  width: 5vw;
}

.pointer {
  cursor: pointer;
}

.bottomBorder{
  border-bottom: 1px solid lightgrey;
}
.bgColor{
  background-color: rgb(243, 243, 243)
}
.mdCollapse{
  display: none;
}
.lgCollapse{
  display: none;
}
.fontSize{
  /* standard transaction page font size */
  font-size: 0.8rem;
}
.collaoseMargin{
  margin-left: 0vw
}
.errspan {
  position: relative;
  right: 70px;
  z-index: 0;
  color: red;
}
@media(min-width:992px){
  button[aria-expanded=false] .fa-angle-down {
    /* button direction icon */
    display: none;
  }
  button[aria-expanded=true] .fa-angle-up {
    /* button direction icon */
    display: none;
  }
  .descriptionBtn {
    pointer-events: none;
    color:#212529;
  }
}
@media(max-width: 992px) and (min-width: 769px){
  .lgView{
    display: none;
  }
  .lgCollapse{
    display: block;
  }
}
@media(max-width: 769px){
  .mdView{
    display: none;
  }
  .lgView{
    display: none;
  }
  .mdCollapse{
    display: block;
  }
  .lgCollapse{
    display: block;
  }
}