<div class="container">
  <div *ngIf='false'>
    <!--Start time datepicker-->
    <mat-form-field class="mx-2">
      <input matInput [matDatepicker]="picker" placeholder="Select your start date" [formControl]="startDate" [min]='startDate'>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <!--End time datepicker-->
    <mat-form-field class="mx-2">
      <input matInput [matDatepicker]="picker1" placeholder="Select your end date" [formControl]="endDate">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
    <button type="button" (click)='resetSessions()' class="btn btn-primary btn-sm">Search</button>
    <p *ngIf='timeMes' style="color: red;">End time cannot be ahead of start time!</p>
    <br>
  </div>
  <!--session info-->
  <div *ngIf="loading" >
      <div class="loader"></div>
   </div>
  <div *ngIf="sessionsInfo.length===0&&!loading" class='container'>
    <div class='card'>
      <div class='card-header'>
        My Lessons
      </div>
      <div class='card-body s1'>
        No Lesson found！
        <div>
          <a [routerLink]="['/app/find-tutor']">Go to book a lesson?</a>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="sessionsInfo.length !== 0" class='container'>
    <div class='card session_card'>
      <div>
        <div class='card-body'>


          <div class="">
            <form *ngIf="sessionsInfo.length !== 0" id="myForm" style="font-size: 0.9rem;">
              <!--row block-->
              <mat-tab-group>
                <div *ngFor='let tab of tabs;'>
                  <mat-tab [label]="tab.name">
                    <div *ngFor="let session of getFilterSessions(tab.filter);">
                      <div class="card">
                        <div class="card-body text-center">
                          <div class="row" id="{{session.session_id}}">

                            <!-- <div class="form-row " > -->

                            <!-- Photos and Name(when lg) -->
                            <div class="col-lg-2 col-sm-3 personInfo">
                              <!--Tutor role: show learner portal-->
                              <div *ngIf="role === 3">
                                <img [src]='session.learner_img' class="round standard rounded-circle" width="60"
                                  height="60" alt="learner img"><br>
                                <label class="lgName s3Blue"><b>{{session.learner_name}}</b></label>
                              </div>
                              <!--Learner role: show tutor portal-->
                              <div *ngIf="role === 1 || role === 2">
                                <img [src]='session.tutor_img' class="round standard rounded-circle" width="60" height="60"
                                  alt="tutor img"><br>
                                <label class="lgName s3Blue"><b>{{session.tutor_name}}</b></label>
                              </div>
                            </div>

                            <!-- Status, Time, and Date, and Name(when sm & md)-->
                            <div class="col-lg-3 col-sm-9 py-2 mainInfo">
                              <label *ngIf="role === 3" class="smName" style="color: #0099FF;"><b>{{session.learner_name}}</b></label>
                              <label *ngIf="role === 1 || role === 2" class="smName" style="color: #0099FF;"><b>{{session.tutor_name}}</b></label>
                              <label class="smScreen" id="label{{session.session_id}}"><b>{{session.session_status_name
                                  |
                                  titlecase}}{{session.canceled_party}}</b></label>
                              <label class="smScreen"><b>{{session.session_startTime | lowercase}} -
                                  {{session.session_endTime |
                                  lowercase}}</b></label>
                              <label class="smScreen"><small>{{session.session_day}}&nbsp;&nbsp;<i>{{session.session_date}}</i></small></label>
                            </div>

                            <!-- Location, Subject, and Update Information -->
                            <div class="col-lg-5 col-sm-12 py-2 border-top gap-top">
                              <label>{{session.session_location}}</label><br>
                              <label>{{session.session_subject}}</label>
                              <!--Tutor update-->
                              <div *ngIf='role === 3' class="text-danger">
                                <label *ngIf="(session.session_update === 1 && !session.hasOwnProperty('updated')) || session.hasOwnProperty('updated')">Last
                                  update by: {{session.tutor_name}}</label>
                                <label *ngIf="session.session_update === 0 && !session.hasOwnProperty('updated')">Last
                                  update
                                  by:
                                  {{session.learner_name}}</label>
                              </div>
                              <!--Learner update-->
                              <div *ngIf='role === 1 || role === 2' class="text-danger">
                                <label *ngIf="(session.session_update === 1 && !session.hasOwnProperty('updated'))">Last
                                  update by:
                                  {{session.tutor_name}}</label>
                                <label *ngIf="(session.session_update === 0 && !session.hasOwnProperty('updated')) || session.hasOwnProperty('updated')">Last
                                  update by: {{session.learner_name}}</label>
                              </div>
                            </div>

                            <!-- </div>     Close tag for id="{{session.session_id}}" since end using session_id -->

                            <!-- Button -->
                            <div class="col-lg-2 col-sm-12 py-3 btns">
                              <!--Options-->
                              <!--cancel and confirm will be removed if changed something in typescript-->
                              <!--Tutor role-->
                              <div *ngIf="role === 3">
                                <!--status is planned-->
                                <div *ngIf="session.session_status === 0">
                                  <div class="btn-group w-100 px-2 my-2">
                                    <!-- <button type="button" class="btn btn-sm btn-primary w-100" id="con{{session.session_id}}"
                                        *ngIf="(session.session_update === 0 || session.session_update === null) && !(session.hasOwnProperty('updated'))"
                                        (click)='confirmSession($event)'>Confirm</button>
                                      <button type="button" class="btn btn-sm btn-primary w-100" id="act{{session.session_id}}"
                                        *ngIf="session.session_update === 1 || session.hasOwnProperty('updated')">Actions</button>
                                      <button type="button" class="btn btn-sm btn-primary dropdown-toggle dropdown-toggle-split"
                                        data-toggle="dropdown"></button>
                                      <div class="dropdown-menu dropdown-menu-right">
                                         <a class="dropdown-item pointer" (click)="showFullcalender($event)" id="btn{{session.session_id}}">Reschedule</a> 
                                        <a class="dropdown-item pointer" (click)='cancelSession($event)' id="can{{session.session_id}}">Cancel</a>
                                      </div> -->
                                    <button type="button" class="btn btn-sm btn-primary w-100" id="con{{session.session_id}}"
                                      *ngIf="(session.session_update === 0 || session.session_update === null) && !(session.hasOwnProperty('updated'))"
                                      (click)='cancelSession($event)'>Cancel</button>
                                  </div>
                                </div>

                                <!--status is proccessed-->
                                <div *ngIf="session.session_status === 50 ">
                                  <div class="btn-group w-100 px-2 my-2">
                                    <!-- <button type="button" class="btn btn-sm btn-primary w-100" id="act{{session.session_id}}">Actions</button>
                                    <button type="button" class="btn btn-sm btn-primary dropdown-toggle dropdown-toggle-split"
                                      data-toggle="dropdown"></button> -->
                                    <!-- <div class="dropdown-menu dropdown-menu-right"> -->
                                    <!-- <a class="dropdown-item pointer" (click)='generateReport($event)' *ngIf="session.session_status === 50"
                                        id="gen{{session.session_id}}">Generate Report</a>
                                      <a class="dropdown-item pointer" (click)='reportIssue($event)' *ngIf="session.session_status === 50"
                                        id="iss{{session.session_id}}">Report Issue</a> -->
                                    <!-- </div> -->
                                    <button type="button" class="btn btn-sm btn-primary w-100" id="gen{{session.session_id}}"
                                      *ngIf="session.session_status === 50" (click)='generateReport($event)'>Generate
                                      Report</button>
                                  </div>
                                </div>
                              </div>
                              <!--Learner role-->
                              <div *ngIf="role === 1 || role === 2">
                                <!--status is planned-->
                                <div *ngIf="session.session_status === 0">
                                  <div class="btn-group w-100 px-2 my-2">
                                    <!-- <button type="button" class="btn btn-sm btn-primary w-100" id="con{{session.session_id}}"
                                        *ngIf="session.session_update === 1 && !(session.hasOwnProperty('updated'))"
                                        (click)='confirmSession($event)'>Confirm</button>
                                      <button type="button" class="btn btn-sm btn-primary w-100" id="act{{session.session_id}}"
                                        *ngIf="(session.session_update === 0 || session.session_update === null) || session.hasOwnProperty('updated')">Actions</button>
                                      <button type="button" class="btn btn-sm btn-primary dropdown-toggle dropdown-toggle-split"
                                        data-toggle="dropdown"></button>
                                      <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item pointer" (click)="showFullcalender($event)" id="btn{{session.session_id}}">Reschedule</a> 
                                        <a class="dropdown-item pointer" (click)='cancelSession($event)' id="can{{session.session_id}}">Cancel</a> -->
                                    <button type="button" class="btn btn-sm btn-primary w-100" id="con{{session.session_id}}"
                                      (click)='cancelSession($event)'>Cancel</button>
                                  </div>
                                </div>
                                <!--status is waiting rating-->
                                <div *ngIf="session.session_status === 49">
                                  <div class="btn-group w-100 px-2 my-2">
                                    <button type="button" class="btn btn-sm btn-primary w-100" id="act{{session.session_id}}">Actions</button>
                                    <button type="button" class="btn btn-sm btn-primary dropdown-toggle dropdown-toggle-split"
                                      data-toggle="dropdown"></button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                      <a class="dropdown-item pointer" (click)='rateLesson($event,session)' *ngIf="session.session_status === 49"
                                        id="gen{{session.session_id}}">Rate Lesson</a>
                                      <a class="dropdown-item pointer" (click)='reportIssue($event)' *ngIf="session.session_status === 49"
                                        id="iss{{session.session_id}}">Report Issue</a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!--Change session info-->
                          <span id="suc{{session.session_id}}">
                          </span>
                        </div> <!-- Close tag for class="row" -->
                        <div *ngIf=session.ratings||session.tutor_report||session.cancel_comment||session.suggestion
                          class='card-footer' style="pointer-events: none;">
                          <div *ngIf=session.ratings style="display: inline;">
                            <b style="float:left"> Ratings:</b>
                            <star-rating [readOnly]="true" [rating]="session.ratings" [showHalfStars]="true" style="display:inline-block; outline: none !important;"></star-rating>
                          </div>
                          <div *ngIf=session.tutor_report>
                            <b> Session report: </b>{{session.tutor_report}}
                          </div>
                          <div *ngIf=session.cancel_comment>
                            <b> Cancel comment: </b>{{session.cancel_comment}}
                          </div>
                          <div *ngIf=session.suggestion>
                            <b> Reschedule suggestion: </b>{{session.suggestion}}
                          </div>
                        </div>
                      </div>

                    </div> <!-- Close tag for *ngFor -->

                    <app-pagination [currentPage]="pagination[tab.filter].currentPage" [pageNumber]="pagination[tab.filter].pageNumber"
                      [pages]="pagination[tab.filter].pages" [totalPosts]="pagination[tab.filter].totalPosts" [perPage]="perPage"
                      (getthePage)="getPage($event,tab.filter)"></app-pagination>
                  </mat-tab>
                </div>
              </mat-tab-group>
              <br>
              <!-- <p style="color: red;" *ngIf='sucSubmit'>Submitted successfully!</p> -->
            </form>
          </div> <!-- Close tag for Lesson List Container -->
          <div class="d-none d-sm-none d-lg-block d-md-block col-lg-4 col-md-4">
            <!-- <app-side-helper></app-side-helper> -->
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
