
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>Hello, world!</h1>
    <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
  </div>
</div>


<!--container start-->
<div class="container-fluid">
  <!-- row1 of the boxes -->
  <div class="row">
    <!--column-left -->
    <div class="col_l col-md-6 ">
      <div class="box text box1">
        <!--text center position -->
        <div class="row vcenter">
          <div class="col-md-2">
          </div>
          <div class="textbox_padding col-md-8">
            <!--box1 content-->
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <!--box1 content end-->
          </div>
          <div class="col-md-2">
          </div>
        </div>
        <!--text center end-->
      </div>
    </div>
    <!--column-right-->
    <div class="col_r col-md-6 ">
      <div class="box box2">
        <!--box2 content-->
      </div>
    </div>
  </div>
  <!--row1 end-->

  <!--row2-->
  <div class="row">
    <div class="col_l col-md-6 ">
      <div class="box box3">
      <!--box3 content-->
      </div>
    </div>

    <div class="col_r col-md-6 ">
      <div class="box text box4">
        <!--text center position -->
        <div class="row vcenter">
          <div class="col-md-2">
          </div>
          <div class="textbox_padding col-md-8">
            <!--box4 content-->
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          </div>
          <div class="col-md-2">
          </div>
        </div>
        <!--text center position end-->
      </div>
    </div>
  </div>
  <!--row2 end-->

  <!--row3-->
  <div class="row">
    <div class="col_l col-md-6 ">
      <div class="box text box5">
        <!--text center position -->
        <div class="row vcenter">
          <div class="col-md-2">
          </div>
          <div class="textbox_padding col-md-8">
            <!--box5 content-->
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          </div>
          <div class="col-md-2">
          </div>
        </div>
        <!--text center position end-->
      </div>
    </div>

    <div class="col_r col-md-6 ">
      <div class="box box6">
      <!--box6 content-->
      </div>
    </div>
  </div>
<!--row3 end-->
  <hr>


</div>
<!-- /container -->
