.dialog-error{
    padding:12px;
    text-align: center;
    border-radius: 6px;
    background-color:#ff3030;
    color:white;
    margin-bottom: 20px;
}
.title{
    text-align:center;
    color:#0099FF;
    font-weight: bold;
    margin-bottom:40px;
}

form{
    margin-top:5px;
}
.btn-info{
    background-color: #0699cd;
    margin-bottom: 13px;
}