<mat-dialog-content>
    <h2 md-dialog-title class="title">Register {{words}} </h2>
    <div *ngIf="fillAll">
        <div class="dialog-error">{{fillAll}}</div>
    </div>
    <form novalidate #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div class="form-group">
            <div *ngIf="firstName.errors?.required && firstName.touched" class="invalid_feedback">

            </div>
            <div *ngIf="firstName.errors?.minlength && firstName.touched" class="invalid_feedback">
                Must be at least 2 characters
            </div>
            <input type="text" class="form-control" placeholder="First Name" [(ngModel)]="newUser.first_name" name="first_name" #firstName="ngModel"
                minlength="2" required [ngClass]="{'is-invalid': firstName.errors?.required && firstName.touched || firstName.errors?.minlength}">
        </div>
        <div class="form-group">
            <div *ngIf="userEmail.errors?.required && userEmail.touched" class="invalid_feedback">
            </div>
            <div *ngIf="userEmail.errors?.pattern && userEmail.touched" class="invalid_feedback">
                Email is Invalid
            </div>
            <input type="text" class="form-control" placeholder="Email" [(ngModel)]="newUser.email" name="email" #userEmail="ngModel"
                required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" [ngClass]="{'is-invalid': userEmail.errors?.required && userEmail.touched || userEmail.errors?.pattern}">
        </div>
        <div class="form-group">
            <div *ngIf="password.errors?.required && password.touched" class="invalid_feedback">
            </div>
            <div *ngIf="password.errors?.pattern && password.touched" class="invalid_feedback">
                Must be at least 7 characters with both letters and numbers
            </div>
            <input type="password" class="form-control" id="password" placeholder="Password" [(ngModel)]="newUser.password" name="password"
                #password="ngModel" required pattern="((?=.*\d)(?=.*[a-zA-Z]).{7,20})" [ngClass]="{'is-invalid': password.errors?.required && password.touched || password.errors?.pattern}">
        </div>
        <div class="form-group">
            <div *ngIf="noMatch && passwordConfirm.touched" class="invalid_feedback">
                Passwords does not match.
            </div>
            <input type="password" class="form-control" (blur)="checkPWD()" placeholder="Password Confirmation" [(ngModel)]="newUser.password_confirmation"
                name="passwordConfirm" #passwordConfirm="ngModel" required [ngClass]="{'is-invalid': passwordConfirm.errors?.required && passwordConfirm.touched }">
        </div>

        <input type="submit" class="btn btn_blue_large btn-block" value="Register">
    </form>

</mat-dialog-content>
