<mat-dialog-content class="p-0 my-0">
<div class="card border-0">
  <div class="card-header bg-white text-center m-0"><strong style="font-size: 20px">Dispute</strong><i class="fa fa-close float-right" (click)="close()"></i></div>
  <div class="card-body m-0">
      <form>
          <div class="mb-2">Choose the reason please</div>
          <form [formGroup]="disputeForm">
                <div *ngFor="let agIndex of agIndex" class="form-check">
                  <input class="form-check-input" type="checkbox" id="{{agIndex}}" name="{{agIndex}}" formControlName="{{agIndex}}">
                  <label class="form-check-label s2 ml-2" for="{{agIndex}}">{{agIndex}}</label>
                </div>
                <br>
                <div>Your comment</div>
                <textarea type="text" class="form-control" placeholder="{{userComment}}" name="comment" rows="3" formControlName="comment"></textarea>
                <div *ngIf="disputeForm.controls.comment.invalid && disputeForm.controls.comment.touched" class="indicator text-danger" >Two characters at least.</div>
                <p class="text-danger" *ngIf='showWarningMes'>please choose or input something firstly.</p>
          </form>
          <br>
          <hr>
          <div class="clearfix">
            <button type="button" class="btn btn-outline-primary float-left" (click)="close()">Close</button>&nbsp;&nbsp;
            <button type="submit" class="btn btn-primary float-right" (click)="save()">Submit</button>
          </div>
      </form>
  </div>
</div>
</mat-dialog-content>