<div class="jumbotron">
    <div class="container">
        <div class="j1">How it Works</div>     
    </div>
</div>
<div class="container">
    <div class="m2">What we do</div>
    <div class="s2">
        Learnspace is an online platform where learners from primary to university can find and take lessons with trained tutors. Our staff vets every application rigorously, and only the finest applicates are accepted, ensuring absolute quality for our learners.
    </div>
<br><br>
    <div class="m2">Our Tutors</div>
    <div class="s2">
        All Learnspace tutors are throughly vetted with police and reference checked.
    </div>
<br><br>
    <div class="m2">Our Prices</div>
    <div class="s2">
        Prices are set by tutors individually, and are shown on each profile. These prices are final, NO extra fees apply.
    </div>
<br><br>
    <div class="m2">Payments</div>
    <div class="s2">
        Payments are accepted through online transfer. Invoices will be sent for every session.
    </div>
<br><br>
    <div class="m2">Where do lessons take place ?</div>
    <div class="s2">
        Lessons may take place at any location within the tutor's service area (listed on the tutor's profile as location).
    </div>

</div>
<br><br>
