<div class="details">
  <div class="order-detail p-3">
    <h2 class="m2">Order Details</h2>
    <div class="d-flex flex-row px-2">
      <label>Tutor: </label>
      <img class="tutor-img ml-2" src="{{data.tutor_img}}">
      <label class="s2 align-self-center ml-1">{{data.tutor_name}}</label>
    </div>
    <div class="d-flex flex-row">
      <div class='row'>
        <div class='col-12'>
          <table class="table">
            <tbody>
              <tr>
                <td><label><b>Course:</b></label><span> {{data.lesson_name}}</span><img src="././assets/discussionIcons/English.png"></td>
                <td><label><b>Order Time:</b><span> {{data.order_time}}</span></label></td>
                <td><label><b>Order Id:</b><span> {{data.order_id}}</span></label></td>
              </tr>
              <tr>
                <td><label>Total Courses:<span> {{data.order_quantity}}</span></label></td>
                <td><label>Courses Finished:<span> {{data.order_quantity - data.order_remain}}</span></label></td>
                <td><label>Courses Remain:<span> {{data.order_remain}}</span></label></td>
              </tr>
              <tr>
                <!-- <td><button mat-button> Order More </button></td> -->
                <td><img src="././assets/icons/money.jpg"><label>Total Price:<span> $ {{data.order_price}}</span></label>
                </td>
              </tr>
            </tbody>

          </table>
        </div>
        <div *ngIf='data.order_remain != 0'>
          <div class='col-12'>
            <button mat-button (click)='refund()'>
              <span class='float-right'>
                <i class="fas fa-hand-holding-usd"></i>
              </span>
              Refund
            </button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<br>

<!-- <div class="details">
  <div class="order-detail p-3">

    <h2 class='m2'>Previous lessons</h2>

  </div>
</div>
<br> -->
<!-- <div class="details">
  <div class="order-detail p-3">

    <h2 class='m2'>Rate</h2>
  </div>
</div> -->