.card{
    margin-top:12px;
  }
  
  .content{
    margin-top: 20px;
  }
  
  img{
    border-radius:100px;
  }
  
  pre{
    font-family: Helvetica;
    font-size:15px;
    color:#424242;  
    white-space: pre-wrap;
  }
  
  .card.a2{
    border: 0px;
    background-color:#f9f9f9;
    height:70px;
    padding:8px;
  }
  
  .card-body span{
    float:right;
  }
  
  .bk1{
    background-color:#f9f9f9;
    padding-top:8px;
    padding-bottom:8px;
    border-radius:4px;
  }
  
  .phoneNum{
    margin-top: 5px;
    text-align:center;
  }
  /* if tutor's free time not exist, then hide the block */
  #calendar1 {
  display: none;
  }
  
  @media(min-width:992px){
    #sideBar{
      width: 30%;
    }
    .fixed{
      position: fixed;
      top: 12%;
      right: 5%;
    }
  }
  
  @media(max-width:1200px) and (min-width:992px){
    .lbox{
        padding-left:20px;
    }
  }