<div #size id="drawboardDiv" style="margin:-24px;">
  <ul>
    <li id="eraser">
      <a (click)=onEraseDraw($event)>
        <i class="fa fa-eraser" aria-hidden="true"></i>
      </a>
    </li>
    <li id=pencil>
      <a (click)=onPencilColor($event)>
        <i class="fa fa-pencil" aria-hidden="true"></i>
      </a>
    </li>
    <li class="dropdown" >
        <a class="dropbtn">
          <i class="fa fa-paint-brush" aria-hidden="true"></i>
        </a>
        <div class="dropdown-content" *ngFor="let item of color" >
            <a (click)="onSelectColor(item)" [style.background-color]="item"></a>
        </div>
    </li>
    <li>
    </li>
    <li class="dropdown">
      <a class="dropbtn">
        <i class="fa fa-font" aria-hidden="true"></i>
      </a>
      <div class="dropdown-content" *ngFor="let item of font" style="width:80px;">
        <a (click)=onSelectFont(item) >{{item}}</a>
      </div>
    </li>
    <li>
    </li>
    <li>
      <a (click)=onClearDraw($event)>
        <i class="fa fa-trash" aria-hidden="true"></i>
      </a>
    </li>

    <li>
      <a (click)=onDrawImage($event) >
        <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
      </a>
    </li>

    <li class="toRight">
      <a (click)=closeDrawWin()>
        <i class="fa fa-window-close" aria-hidden="true"></i>
      </a>
    </li>
</ul>
<canvas #canvas touch-action="none"></canvas>
</div>
