canvas { border: 1px solid #000;
  -ms-touch-action: none;
touch-action: none;
   overflow: hidden;
   /* max-width: 100%; */
}

/* #drawboardDiv{
    padding: 0;
} */

ul {
   /* list-style-type: none;*/
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

}

li {
    float: left;
    width: 50px;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
     /*padding-left: 40px;
    padding-right: 40px;*/
}

li a:hover, .dropdown:hover .dropbtn {
    background-color:#1a9bfc;

}

li.dropdown {
    display: inline-block;
    /*padding-left: 40px;
    padding-right: 40px;*/

}

.dropdown, .dropup {
    position: absolute;

}
.dropdown-content {
    display: none;
    /*position: absolute;*/
    background-color: #f9f9f9;
    /*min-width: 160px;*/
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

}

.dropdown-content a {
    color: black;
    /*padding: 12px 16px;*/
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}


.toRight{
    margin-left: 9.5em;
}

.size {
  max-width: 100%;

}
