<div class="card" (mouseenter)="mouseEnter('Change your password')">
  <div class="card-header">Change your password</div>
  <div class="card-body">
    <div *ngIf="errorMessage" class="error-feedback">{{errorMessage}}</div>
      
    <form novalidate [formGroup]="userPasswordResetForm">

      <div class="form-group" (mouseenter)="mouseEnter('Old Password')">
        <label>Old Password</label>
        <input class="form-control" id="oldPassword" type="password" placeholder="Old Password (required)" id="oldPassword" formControlName="oldPassword"/>
        <div *ngIf="userPasswordResetForm.controls.oldPassword.invalid && userPasswordResetForm.controls.oldPassword.touched" class="invalid_feedback">Old password is invalid</div>
      </div>

      <div class="form-group" (mouseenter)="mouseEnter('New Password')">
        <label>New Password</label>
        <input class="form-control" id="newPassword" type="password" placeholder="New Password (required)" #newPassword id="newPassword" formControlName="newPassword"/>
        <div *ngIf="userPasswordResetForm.controls.newPassword.invalid && userPasswordResetForm.controls.newPassword.touched" class="invalid_feedback">New password is invalid</div>
      </div>

      <div class="form-group" (mouseenter)="mouseEnter('Confirm New Password')">
        <label>Confirm New Password</label>
        <input class="form-control"  id="newPassword_confirmation" type="password" placeholder="Confirm Password (required)" id="newPassword_confirmation" formControlName="newPassword_confirmation"/>
        <div *ngIf="userPasswordResetForm.controls.newPassword_confirmation.invalid && userPasswordResetForm.controls.newPassword_confirmation.touched" class="invalid_feedback">Confirm new password is invalid</div>
        <div *ngIf="userPasswordResetForm.errors?.cpv && userPasswordResetForm.controls.newPassword_confirmation.touched" class="invalid_feedback">Confirmation does not equal</div>
      </div>

      <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Submit" (click)="submitForm()">
      </div>
    </form>
  </div>
</div>