.title{
    text-align:center;
    color:#0099FF;
    font-weight: bold;
    padding-bottom: 30px;
}
.dialog-error{
    padding:12px;
    text-align: center;
    border-radius: 6px;
    background-color:#ff3030;
    color:white;
    margin-bottom: 20px;
}
form{
    margin-top:5px;
}

a.option1{
    float: left;
    font-size:13px;
    color:#0099FF;
    cursor:pointer;
}

a.option2{
    float: right;
    font-size:13px;
    color:#0099FF;
    cursor:pointer;
}

a.option1:hover{
    color:#0099FF;
}

a.option2:hover{
    color:#0099FF;
}